.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    max-width: 600px;

    >span {
        font-size: 1.5rem;
        font-weight: red;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 900;
        margin-top: 2.5rem;

        span {
            color: var(--cyan-500);

        }
    }

    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;

        span {
            color: var(--cyan-500);
            font-weight: bold;

        }
    }

}

.button {
    height: 36px;
    width: 250px;

    color: var(--text);
    background: none;
    border-image: linear-gradient(to right, var(--cyan-500), var(--gray))2;

    margin-top: 32px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s;

    &:hover {
        background-color: var(--background-light);
    }

    svg {
        font-size: 24px;
        margin-right: 7px;
    }
}