.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.content {
    ul {
        margin-right: 2rem;
    }

    border-bottom: 2px solid var(--gray-800);
}

.topicos {
    margin-left: 2rem;

    li {
        font-size: 18px;
        margin-top: 0.5rem;
        font-weight: bold;
    }

    p {
        margin-top: 0.5rem;
    }
}

.photoGestor {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 60px;
        height: 150px;
    }
}

.gestorDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}