.content {
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    text-align: justify;

    a {
        color: var(--cyan-500);
    }


}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.styleContent {
    height: 100%;
    width: 100%;
}